/docs/notes.txt
/test/scrap/

pgdata/
db/*

.env

d__pycache__/
*.pycb/csv/*.csv

data/
/etl_server/__pycache__
etl-server/__pycache__
etl-server/stage_database.ini
etl-server/target_database.ini
etl-server/logs
etl-server/tmp
